<div class="flex-r heightsetter">
    <div>
        <div>A Secure Website Handled Through Passport</div>
    </div>
    <div class="flex-r widthmain">
        <div><i class="far fa-copyright"></i>&nbsp&nbsp Personal.INC</div>
        <div>Terms</div>
        <div>Privacy</div>
    </div>
</div>