<% if(locals.user){ %>
<div class="chat-container" id="chatBoxContainerid">
    <div class="chat-header">
        Chat
        <div>
            <i class="fa fa-minus"></i>
        </div>
    </div>
    <div class="chat-messages">

    </div>
    <div class="chat-footer">
        <input type="text" id="chatInput" />
        <button id="sendChat">Submit</button>
    </div>
</div>

<% } %>