<link rel="stylesheet" href="../assets//main.css">
<h1>  Profile | Information </h1>
<div class="enclosing">
    <div class="container-fluid" id="main">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="jumbotron jumbotron-fluid" style="background-color: #181715;">
                    <p class="lead"><%= user.name %></p>
                    <hr class="my-4">
                    <p class="lead"><%= user.email %></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
        </div>
    </div>  
</div>

