body {
  margin: 0;
  color: white;
  background: url(bck.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.flex-r {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40; }

.flexr {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.flex-c {
  display: flex;
  flex-direction: column;
  line-height: 50px; }

.widthmain {
  width: 20%;
  justify-content: space-around; }

h1 {
  text-align: center;
  font-family: serif; }

h4 {
  text-align: center; }

.layoutbody {
  height: 87vh; }

.heightsetter {
  height: 7vh; }

.enclosing {
  margin-top: 14vh; }

#postsContainer {
  height: 30vh;
  padding: 10px;
  overflow-y: scroll;
  margin-top: 45px;
  background-color: #181715; }

#postsContainer::-webkit-scrollbar {
  width: 5px; }

#postsContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(109, 106, 106, 0.3); }

#postsContainer::-webkit-scrollbar-thumb {
  background-color: #2f3035;
  outline: 1px solid slategrey; }

#hrlength {
  border: 1px solid #333333; }

#showComments {
  padding: 0;
  border: 0;
  background: transparent;
  color: cornsilk;
  text-decoration: underline; }

.colorStyle {
  background-color: #464444 !important; }

.friendsStyle {
  margin-top: 43px;
  text-align: left;
  /* padding: 0; */
  /* bottom: 15px; */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

.friendsflex {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column; }

#dpimage img {
  height: 12rem;
  width: 12rem;
  margin: auto;
  border-radius: 50%;
  text-align: center; }

.profileCard {
  display: flex;
  justify-content: flex-end; }
  .profileCard div {
    align-items: center;
    background-color: transparent !important; }

.image-cointainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

#modalClass {
  position: absolute;
  opacity: 1;
  left: 60vh;
  top: 23vh;
  z-index: 3; }
  #modalClass button {
    margin-top: 5px; }

.view {
  display: none; }

.liked {
  color: blue; }

.unliked {
  color: white; }

.chat-container {
  position: fixed;
  height: 400px;
  width: 300px;
  bottom: 70px;
  right: 10px; }

.chat-header {
  font-size: 20px;
  padding: 10px;
  background: #6200ee;
  color: #fff;
  height: 43px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.chat-header i:hover {
  cursor: pointer; }

.chat-messages {
  height: 320px;
  background: #fff;
  overflow: auto;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column; }

.chat-messages .chat-bubble {
  background: #e5e5e5;
  margin: 8px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  position: relative; }

.chat-messages .other-chat:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #e5e5e5;
  border-left: 0;
  border-bottom: 0;
  margin-top: -1px;
  margin-left: -10px; }

.chat-messages .self-chat {
  background: #b0ffb3; }

.chat-messages .self-chat:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #b0ffb3;
  border-right: 0;
  border-bottom: 0;
  margin-top: -1px;
  margin-right: -10px; }

.chat-footer {
  height: 37px;
  box-sizing: border-box;
  display: flex; }

.chat-footer input {
  width: 100%;
  outline: none;
  font-size: 18px;
  padding-left: 5px; }

.chat-footer button {
  background: #ef7917;
  color: white;
  border: none;
  outline: none;
  font-size: 16px; }

.chat-footer button:hover {
  cursor: pointer; }
